.card {
  background: rgba(255, 255, 255, 0.35) !important;
  border-radius: 1rem !important; 
  backdrop-filter: blur(1px) !important;
}
.detailsBtn {
    border-radius: 0 !important;
    border-bottom-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}